:root {
    --main-color: rgba(7, 104, 159, 1);
    --main-span-color: rgba(51, 51, 51, 0.32); 
    --main-transition: all .6s linear;
}
input::placeholder{
font-weight: 500;
font-size: 15px;
color: var(--main-span-color);
letter-spacing: 1.7px;
}
.reports span,
.iconS{
    color: var(--main-span-color);
}
.drive{
    font-size: 2em;
    color:var(--main-color);
}
