.bg{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 80vw;

}

.bg img{
    width: 95vw;
    height: 100vh;

}
.Data{
    position: relative;
}
.Data .container{
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translate(-50% ,-0%);
    padding: 7%;
}
.REVTitle{
position: absolute;
right:60%;
bottom:  80%;
transform: translate(-50% , -50%);
}


@media screen and (max-width:1000px) {
 .Data h4{
        background-color: rgba(26, 113, 163, .7) ;
        padding: 4px;
       border-radius: 7px;
       text-align: center;
       width: 100%;
    }
    .bg img{
        display: none;
    }
    
    .Doctor,
    .patiant{
        width: 100% !important;
    }
    .Data .container{
        position: absolute;
        left: 50%;
        transform: translate(-50% ,20%);
    }
    .REVTitle{
        position: absolute;
        right: 20%;
        top:  7%;
        transform: translate(-50% , -90%);
     
        } 
}
