.Data{
    position: relative;
margin: 10px;
   
}
.Data {
background-image: url(../../asset/servbg.svg);
background-repeat: no-repeat;
background-position: 50% 10px;
background-origin: padding-box;
background-size: cover;
width: 70%;
} 
.REVTitle{
text-align: center;
position: absolute;
left:20%;
bottom:  78%;
transform: translate(-50% );
}
label{
cursor: pointer;
}

.patiant{
    width: 30%;
}
.Doctor{
    width: 50%;
    margin: 20% 8%;
    padding:4% 2%;
}

@media screen and (max-width:1000px) {
    .Data {
   background-image: none;
   width: 100%;
        } 
        .REVTitle{
            text-align: center;
            position: absolute;
            left:50%;
            bottom: 96%;
            transform: translate(-50% );
            }
            .patiant{
                width: 100%;
                margin: 0 !important;
                padding: 0 !important;
            }
            .Doctor{
                width: 100%;
                margin: 0 !important;
                padding: 0 !important;
            }
}
  