:root {
    --main-transition: all .1s ease;
    --main-color: rgba(7, 104, 159, 1);
 }


.list{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid gray;
    margin-bottom: 10px;
}
.list .num{
    margin: 5px 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: var(--main-transition);
}
.list .num:focus{
    border: 1px solid var(--main-color);
   border-radius: 50%;
   color: var(--main-color);
   font-weight: 700;
   font-size: 18px;
   
}
.list .num:hover{
    border: 3px solid var(--main-color);
   border-radius: 50%;
   color: var(--main-color);
   font-weight: 700;
   
}
/* Slice */
.Slice{
    
    border-right: 2px solid gray;
    padding-right: 10%;
    position: relative;
    /* overflow: hidden; */
    
}
small{
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}
/*  */
.Mscan{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.Mscan input[type ="file"]{
    display: none;
}
.Mscan label{
    padding: 16% !important;
    height: 100%;
    width: 100%;
    border: 1px dashed blue;
    border-radius: 6px;
    cursor: pointer;
    background-color: #fafafa;
    text-align: center;
   
}
label:hover{
  
    border-width: 3px  ;
}

.upload{
    color: var(--main-color);
}

@media screen and (max-width:900px) {
    .Slice{
margin: 0 20px;
border-right: none;
padding: 0;
    }
    
    .mri{

        display: flex;
        justify-content: center;
        align-items: center;
       margin: 0 auto;
    }
    .mri img{
        width: 100%;
    
    }
}
