:root {
    --main-color: rgba(7, 104, 159, .7);
    --main-span-color: rgba(51, 51, 51, 0.32);
    --main-transition: all .3s ease;
}

input::placeholder {
    font-weight: 500;
    font-size: 15px;
    color: var(--main-span-color);
    letter-spacing: 1.7px;
}

.reports span {
    color: var(--main-span-color);

}

.drive {
    font-size: 2em;
    color: var(--main-color);
}

.rep {
    transition: var(--main-transition);
}

.rep:hover .iconS,
.rep :hover span,
.rep:hover {
    background-color: var(--main-color);
    color: white !important;
    cursor: pointer;
}